.about-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: var(--primary);
  transform: skew(20deg);
  z-index: 1;
}

.about-img img {
  position: relative;
  z-index: 2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.property-img {
  transition: transform 0.5s ease;
}
.property-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
